<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="launch/www" verb="*" modules="iisnode" />
    </handlers>
<rewrite>
      <rules>
        <rule name="ydtnodejsApp">
          <match url="iisnode.+" negate="true" />
          <action type="Rewrite" url="launch/www" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>