 <!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="description" content="ydt">
    <link rel="stylesheet" href="src/vendor/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="src/css/main.css?rev={{version}}">  
    {% block head %} {% endblock head %}
</head>

<body ng-app="app">
    {% include "./includes/header.html" %} {% block content %} {% endblock content %} {% include "./includes/footer.html" %}
    <script src="src/vendor/jquery/dist/jquery.min.js"></script>
    <script src="src/vendor/angular/angular.min.js"></script>
    <script src="src/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="src/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>  -->
    {% block foot %} {% endblock foot %}
</body>

</html> 

