 <!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ydt">
    <!-- Vendor CSS -->
    <!-- <link rel="stylesheet" href="src/vendor/bootstrap/dist/css/bootstrap.css">  -->
    {% block head %} 
    {% endblock head %}
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
</head>

<body ng-app="app">
    {% block content %} 
    {% endblock content %} 
    {% include "./includes/footer.html" %}
    <!-- Vendor JS -->
    <script type="text/javascript" src="src/vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="src/vendor/angular/angular.js"></script>
    <!-- <script src="src/vendor/bootstrap/dist/js/bootstrap.js"></script> -->
    <script type="text/javascript" src="src/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="src/vendor/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="src/vendor/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="src/vendor/angular-material/angular-material.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="src/js/app.js?rev={{version}}"></script>
    <script type="text/javascript" src="src/js/config/config.js?rev={{version}}"></script>
    {% block foot %} 
    {% endblock foot %}
</body>

</html> 

